/* Article Styling */
#articles {
  padding: 1rem 10rem;
  max-width: 1400px;
  margin: 0 auto;
}

#articles .search-area {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 5rem;
  border-radius: 5px;
}

#articles input[type="search"] {
  width: 100%;
  /* max-width: 600px; */
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #f8f8f8;
  color: var(--color-text);
}

#articles input[type="search"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#articles button {
  background: none;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .article-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  border-radius: 8px;
  overflow: hidden;
  color: #000;
  transition: transform 0.3s ease;
}

.article:hover {
  transform: translateY(-5px);
}

.article-top img {
  width: 100%;
  display: block;
  height: auto;
}

.article-bottom {
  padding: 1.5rem;
}

.article:nth-child(1) {
  background-color: #212529;
  color: #fff;
}

.article:nth-child(even):not(:first-child) {
  background-color: #f8f8f8;
}

.article:nth-child(odd):not(:first-child) {
  background-color: #eeeeee;
}

.article h2 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.article p {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* Hero Intro */
#hero {
  padding: 1rem 6.125rem;
  max-width: 1400px;
  width: 50%;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 1.125rem;
  margin: 0 auto;
  line-height: 1.6;
}

.navigation {
  margin: 4rem auto;
  text-align: center;
  color: #861c1c;
  font-weight: 600;
}

.navigation button {
  background: none;
  border: none;
  color: #861c1c;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 1rem;
}

.article a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #articles {
    padding: 1rem 0.625rem;
  }

  #hero {
    padding: 1rem 0.625rem;
    width: 100%;
  }
}
