/*Services Styling*/
#ally {
  background-color: #f5f5f5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.ally_intro h2 {
  font-size: 66px;
  max-width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}

.ally_intro p {
  font-size: 19px;
  font-weight: 900;
  opacity: 0.7;
}

.ally_intro h4 {
  font-size: 39px;
  font-weight: 900;
  max-width: 1050px;
  margin-bottom: 30px;
}

/*Categories Styling*/
#categories {
  background-color: #f5f5f5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.cat_img {
  margin-top: 20px;
  max-width: 400px;
  height: auto;
}

.points {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 45px;
}

.points li {
  color: #333333;
  font-size: 26px;
}

.col-3 {
  max-width: 783px;
  margin-top: 25px;
  margin-right: 50px;
}

.col-4 {
  max-width: 783px;
  margin-top: 25px;
}

.cat_img_1 {
  margin-top: 20px;
  max-width: 400px;
  height: auto;
  margin-right: 50px;
}

.header_1,
.body_1 {
  text-align: right;
}

.header_1 {
  font-size: 36px;
  font-weight: 700;
}

.body_1 {
  font-size: 28px;
  font-weight: 500;
  max-width: 700px;
  margin-left: 83px;
}

.categories_intro h4 {
  font-size: 40px;
  margin-bottom: 30px;
  max-width: 1050px;
}

.header {
  font-size: 36px;
  font-weight: 700;
}

.body {
  font-size: 28px;
  font-weight: 500;
  max-width: 700px;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}


@media screen and (max-width: 1050px) {
  #ally {
    padding: 30px;
    text-align: center;
    align-items: self-start;
  }

  .ally_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ally_intro h2 {
    font-size: 12vw;
    margin-top: 0;
  }

  .ally_intro p {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .ally_intro h4 {
    font-size: 5vw;
    line-height: 1.5;
    font-weight: normal;
  }

  /*Categories Styling*/
  #categories {
    padding: 20px;
    text-align: center;
  }

  .cat_img {
    margin-top: 20px;
    width: 100%;
  }

  .points {
    list-style-type: circle;
    /* margin-left: 20px; */
    text-align: center;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .points li {
    font-size: 6vw;
  }

  .col-3 {
    margin-top: 25px;
    margin-right: 0;
  }

  .header {
    font-size: 8vw;
    font-weight: 700;
  }

  .body {
    text-align: center;
    font-size: 5vw;
    line-height: 1.5;
  }

  .row-1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }

  .col-4 {
    margin-top: 25px;
    text-align: center;
  }

  .cat_img_1 {
    margin: 20px 0;
    width: 100%;;
  }

  .header_1,
  .body_1 {
    text-align: center;
  }

  .header_1 {
    font-size: 8vw ;
    font-weight: 700;
  }

  .body_1 {
    font-size: 5vw;
    line-height: 1.5;
    margin-left: 0;
  }

  .categories_intro h4 {
    font-size: 6vw;
    margin-bottom: 30px;
  }

  .reverse-order {
    flex-flow: column-reverse;
  }
}
